body {
  font-size: 80%;
}

a,
li,
p,
b,
h1 {
  text-decoration: none;
  color: gray;
  list-style: none;
}

button {
  outline: none;
  border: none;
  font: var(--Jakarta);
  color: white;
  background-color: gray;
  padding: 8px 16px;
}
